@import "grid.css";
@import "misc.css";
@import "spacing.css";
@import "fonts-sizes.css";
@import "custom.css";

@font-face {
  font-family: 'HK Grotesk';
  src: url("./fonts/CircularStd-Book.otf") format("woff");
}

@font-face {
  font-family: 'Bookmania Bold';
  src: url("./fonts/CircularStd-Bold.otf");
}

body {
  font-family: 'HK Grotesk', sans-serif !important;
}

.main-content {
  min-height: calc(100vh - 200px);
}