@import "grid.css";
@import "misc.css";
@import "spacing.css";
@import "fonts-sizes.css";
@import "custom.css";

@font-face {
  font-family: 'Circular';
  src: url("./fonts/CircularStd-Book.otf") format("woff");
}

@font-face {
  font-family: 'Circular Bold';
  src: url("./fonts/CircularStd-Bold.otf");
}

body {
  font-family: 'Circular', sans-serif !important;
}

.main-content {
  min-height: calc(100vh - 400px);
}


th, td {
  font-size: 1.6rem;
  padding: 1.6rem;
}